<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abdalion.me.momapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/moma"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.detalle.DetalleActivity"
            android:label="@string/title_activity_detalle"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="51c263a8fd9ff3d2fd9d1071f25536062d3b58e0" />

        <activity android:name=".view.login.LoginActivity"></activity>
    </application>

</manifest>